
.myDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
}
.myDiv .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}
.myDiv .right{
    display: flex;
    flex-direction: row-reverse;
    width: 50vw;
}
.talkify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.talkify .text{
    height: fit-content;
    font-size: xx-large;
    padding: 5px;
}
.alignSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.alignSearch2{
    display: flex;
    flex-direction: row;
}
.myModal{
    height: 100vh;
    overflow-y: auto;
}
.searchInput{
    height: 30px;
    font-size: medium;
    /* border: none; */
}
.searchInput2{
    height: 30px;
    font-size: medium;
    caret-color: transparent;
}
.myDiv .right{
    font-size: x-large;
}
.body{
    display: flex;
    flex-direction: row;
}
.left{
    width: 30vw;
}
.bodyFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logout{
    margin-left: 10px;
}
.newChatGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.padding{
    margin-right: 10px;
}
.chatWindow{
    width: 70vw;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 10px;
}


.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  .msger-chat{
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .message{
    border: 2px solid #3498db;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    border-radius: 8px;
    padding: 8px;
  }
  .lefty{
    display: flex;
    flex-direction: row;
  }
  .righty{
    display: flex;
    flex-direction: row-reverse;
  }
  .senderName {
    font-weight: bold;
  }
  .lefty .message {
    background-color: #e8f7fc;
  }
  
  .righty .message {
    background-color: #d4e6f1; 
  }
.chatHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #3498db;  */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.chatName{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.chatGroupMembers{
    cursor: pointer;
    margin-left: 10px;
}
.GroupMembersList{
    display: flex;
    flex-direction: column;

}
.groupMember{
    margin-bottom: 10px;
    font-family: cursive;
}
.groupMembersHeading{
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
}